#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.container{
  padding: 20px;
}
.image{
  height: 55px;
}
.header{
  background-color: #fff;
  color: brown;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  text-align: center;
  
}
.header:hover{
  color: rgb(16, 75, 16);
}
#link{
  background-color: rgb(24, 121, 88);
  width: 100px;
  text-align: center;
  border-radius: 17px;
  margin-bottom: 5px;
  font-weight: bolder;
  cursor: pointer;
}
.update{
  background-color: rgb(8, 68, 8);
  color: #fff;
  font-size: large;
  font-weight: bold;

}
.delete{
background-color:rgb(129, 21, 21);
color: #fff;
font-size: large;
font-weight: bold;
}